<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.glassfitgames.glassfitplatformdemo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <!-- This line added to enable BLE --> 
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>
    
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
      <!-- Needs these permissions to work --> 
     <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher1"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <meta-data
            android:name="ormdroid.database.name"
            android:value="glassfit_platform_database" />

        <!-- main activity -->
        <activity
            android:name="com.glassfitgames.glassfitplatformdemo.MainActivity"
            android:configChanges="orientation|screenSize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/voice_trigger" />
        </activity>

        <!-- sub-activities -->
        <activity
            android:name="com.glassfitgames.glassfitplatformdemo.GpsTestActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name="com.glassfitgames.glassfitplatformdemo.OrientationDiagnostics"
            android:label="@string/title_activity_orientation_diagnostics" >
        </activity>
        <activity
            android:name="com.glassfitgames.glassfitplatformdemo.TrackpadDiagnostics"
            android:label="@string/title_activity_trackpad_diagnostics" >
        </activity>
        <activity
            android:name="com.glassfitgames.glassfitplatform.auth.AuthenticationActivity"
            android:label="@string/title_activity_authentication" >
        </activity>
        

        <!-- services -->
        <service
            android:name="com.glassfitgames.glassfitplatform.sensors.SensorService"
            android:icon="@drawable/ic_launcher"
            android:label="@string/sensor_service_name" >
        </service>

        <activity
            android:name="com.glassfitgames.glassfitplatformdemo.BLE_activity"
            android:label="@string/title_activity_ble_activity" >
        </activity>
        <!-- BLE sensor services -->
        <service android:name=".BluetoothLeService_HR" android:enabled="true"/>
        <service android:name=".BluetoothLeService_SPEEDO" android:enabled="true"/>
   
        </application>

</manifest>